*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.container {
  width: 85%;
  max-width: 65em;
  margin: 0 auto;
}

.split {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;

  & > * {
    flex-basis: 30%;
    min-width: 15em;
  }
}

//add a margin-top only in descendants of spacing have an
//adjacent element up top
.spacing > * + * {
  margin-top: var(--spacer, 2rem);
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 0.5em 1.25em;
  background: var(--clr-accent, blue);
  color: var(--clr-text, #fff);
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0.25em;
  transition: transform 250ms ease-in-out, opacity 175ms linear;
}

.btn:hover,
.btn:focus {
  transform: scale(1.1);
  opacity: 0.9;
}

.primary-title {
  //biggest can be 4.5rem, smallest can be 3rem
  font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem);
  line-height: 1;
  text-transform: uppercase;
}

.hero {
  color: white;
  text-align: center;
  padding: 15em 0;
  background: #222;
  @supports (background-blend-mode: multiply) {
    background: url(../img/shoe-3.png), radial-gradient(#444, #111);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
  }
  // background-image: url(../img/shoe-3.png), radial-gradient(#444, #111);
}

.section-title {
  text-align: center;
  font-size: clamp(2.5rem, calc(5vw + 1rem), 4.5rem);
  line-height: 1;
  color: #173353;
  margin-bottom: 5rem;
}

section {
  padding: 7em 0;
}

.featured {
  background: #eee;

  &__item {
    display: block;
    position: relative;
    transform: scale(0.85);
    transition: transform 250ms ease-in-out;

    &:hover,
    &:focus {
      transform: scale(1);
    }

    &::after {
      content: "";
      position: absolute;
      top: 10%;
      left: 10%;
      padding: 75% 75% 0 0;
      background: #2193b0;
      border-radius: 50%;
      z-index: -1;
    }
  }
}
