*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.container {
  width: 85%;
  max-width: 65em;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 0.5em 1.25em;
  background: var(--clr-accent, blue);
  color: var(--clr-text, #fff);
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0.25em;
  transition: transform 250ms ease-in-out, opacity 175ms linear;
}

.btn:hover,
.btn:focus {
  transform: scale(1.1);
  opacity: 0.9;
}
